{% extends "base_generic.html" %}
{% block content %}
<style>
    .page-title {
        margin-top: 20px;
        text-align:center;
    }
    .search-form {
        margin-top: 20px;
        text-align:center
    }
    .add-maturant-link {
        display: inline-block;
        margin-top: 20px;
        background-color: #3734db;
        color: white;
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
    }
    .maturant {
        background-color: #f2f2f2;
        padding: 10px;
        margin-top: 20px;
    }
    .edit-maturant-link, .delete-maturant-link {
        margin-top: 10px;
        display: inline-block;
        background-color: #3498db;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        text-decoration: none;
    }
    .edit-maturant-link:hover, .delete-maturant-link:hover {
        
        background-color: #3498db;
    }

  
    
</style>











<h2 class="page-title">MATURANTI</h2>
<form method="GET" class="search-form">
    <label for="search">Search:</label>
    <input type="text" id="search" name="search">
    <button type="submit">Search</button>
</form>
<a href="/maturant_form" class="add-maturant-link">UNOS MATURANTA</a>
{% for maturant in object_list %}
<div class="maturant">
    <p><strong>Ime maturanta</strong>: {{ maturant.ime_maturanta }}</p>
    <p><strong>Prezime maturanta</strong>: {{ maturant.prezime_maturanta }}</p>
    <p>Upisni broj: {{ maturant.upisni_broj}}</p>
    <p>Email maturanta: {{ maturant.email_maturanta }}</p>
    <p>Upisani smjer: {{ maturant.maturant_smjer }}</p>
    <p>Lokacija maturanta: {{ maturant.maturant_postanski_broj }}</p>
    <p>Završena srednja škola: {{maturant.maturant_srednja_skola}}</p>
    <p>Datum upisa maturanta: {{maturant.maturant_datum_upisa}}</p>
    <a href="{% url 'main:maturant_update' maturant.upisni_broj %}" class="edit-maturant-link">Edit</a>
    <a href="{% url 'main:maturant_delete' upisni_broj=maturant.upisni_broj %}" class="delete-maturant-link">Delete</a>
</div><br>
{% endfor %}
</ul>
{% endblock %}