{% extends "base_generic.html" %}
{% block content %}
<style>
    .page-title {
        margin-top: 20px;
        text-align:center;
    }
    .search-form {
        margin-top: 20px;
        text-align:center
    }
    .add-smjer-link {
        display: inline-block;
        margin-top: 20px;
        background-color: #3734db;
        color: white;
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
    }
    .smjer {
        background-color: #f2f2f2;
        padding: 10px;
        margin-top: 20px;
    }
    .edit-smjer-link, .delete-smjer-link {
        margin-top: 10px;
        display: inline-block;
        background-color: #3498db;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        text-decoration: none;
    }
    .edit-smjer-link:hover, .delete-smjer-link:hover {
        
        background-color: #3498db;
    }

  
    
</style>











<h2 class="page-title">SMJEROVI</h2>
<form method="GET" class="search-form">
    <label for="search">Search:</label>
    <input type="text" id="search" name="search">
    <button type="submit">Search</button>
</form>
<a href="/smjer_form" class="add-smjer-link">UNOS SMJERA</a>
{% for smjer in object_list %}
<div class="smjer">
       </p><strong>Naziv smjera</strong>: {{ smjer.naziv_smjera }}</p>
       
   
{% for smjer in smjer.fakultet.all %}
</p>Fakultet na kojem se izvodi smjer: {{ smjer.fakultet }}</p>

{% endfor %}
<a href="{% url 'main:smjer_update' smjer.naziv_smjera %}" class="edit-smjer-link">Edit</a>
<a href="{% url 'main:smjer_delete' naziv_smjera=smjer.naziv_smjera %}" class="delete-smjer-link">Delete</a>
</div><br>
{% endfor %}

{% endblock %}



