{% extends "base_generic.html" %}
{% block content %}
<style>
    .page-title {
        margin-top: 20px;
        text-align:center;
    }
    .search-form {
        margin-top: 20px;
        text-align:center;
    }
    .add-srednja-link {
        display: inline-block;
        margin-top: 20px;
        background-color: #3734db;
        color: white;
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
    }
    .mjesto {
        background-color: #f2f2f2;
        padding: 10px;
        margin-top: 20px;
    }
    .edit-srednja-link, .delete-srednja-link {
        margin-top: 10px;
        display: inline-block;
        background-color: #3498db;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        text-decoration: none;
    }
    .edit-srednja-link:hover, .delete-srednja-link:hover {
        
        background-color: #3498db;
    }

</style>


<h2 class="page-title">SREDNJE ŠKOLE</h2>
<form method="GET" class="search-form">
    <label for="search">Search:</label>
    <input type="text" id="search" name="search">
    <button type="submit">Search</button>
</form>
    <a href="/srednjaskola_form" class="add-srednja-link">UNOS SREDNJE ŠKOLE</a><br><br><br>

    
   
        {% for srednja in object_list %}
            <div class="srednja">
                <p><strong>Naziv srednje škole</strong>: {{ srednja.naziv_srednje}}</p>
                <p>Lokacija srednje škole: {{ srednja.srednja_postanski_broj }}</p>
                <a href="{% url 'main:srednja_update' srednja.naziv_srednje %}" class="edit-srednja-link">Edit</a>
                <a href="{% url 'main:srednjaskola_delete' naziv_srednje=srednja.naziv_srednje %}" class="delete-srednja-link">Delete</a>
            </div><br>
        {% endfor %}
   
{% endblock %}
