{% block content %}
<style>
  form {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ddd;
  }
  
  form input[type="text"],
  form input[type="email"],
  form textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ddd;
  }
  
  form input[type="text"]:focus,
  form input[type="email"]:focus,
  form textarea:focus {
    border-bottom: 2px solid #3498db;
  }
  
  form button[type="submit"] {
    background-color: #3498db;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form button[type="submit"]:hover {
    background-color: #3cb0fd;
  }
  
  .cancel-link {
    color: #3498db;
    text-decoration: none;
    margin-top: 20px;
    font-size: 14px;
  }
  
  .cancel-link:hover {
    text-decoration: underline;
  }
</style>  



  <h1 style="text-align: center;">Izmjena podataka o maturantu</h1>
  <form method="POST" enctype="multipart/form-data" style="max-width: 500px; margin: 0 auto;">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary" style="margin: 20px auto; display: block;">Update</button>
    <a href="{% url 'main:maturant' %}" class="cancel-link" style="display: block; text-align: center;">Odustani</a>
  </form>
{% endblock %}


